@model MovieDAL.Person

@{
	ViewBag.Title = "Details";
}

@helper MovieList(string title, IEnumerable<MovieDAL.Movie> movies)
{
if (movies.Any())
{
		<h3>@title</h3>
		<p>Fra helper</p>
		<ul>
			@foreach (var movie in movies)
		{
				<li>
					<img src="@Url.Action("CreateImage", "Image", new { format = "Thumb", id = movie.MovieId })" alt="Cover for @movie.Title" />
					@Html.ActionLink(movie.Title, "Details", "Movie", new { id = movie.MovieId }, null)
				</li>
		}
		</ul>
	}
}



<h2>@Model.Name</h2>

@MovieList("Spilt i", Model.ActedMovies)
@MovieList("Produsert", Model.ProducedMovies)
@MovieList("Regisert", Model.DirectedMovies)
