@model ImdbWeb.Models.PersonModels.PersonIndexModel
@{
	ViewBag.Title = "Index";

	var groups = from person in Model.Persons
				 orderby person.Name
				 group person by person.Name.Substring(0, 1).ToUpper() into g
				 select new { FirstLetter = g.Key, Persons = g };
}

<div>
	@foreach (var group in groups)
	{
		<a href="#@group.FirstLetter">@group.FirstLetter</a>
	}
</div>


<h2>@Model.Title</h2>
@foreach (var group in groups)
{
	<h3 id="@group.FirstLetter">@group.FirstLetter</h3>
	<ul>
		@foreach (var person in group.Persons)
		{
			<li>@Html.ActionLink(person.Name, "Details", new { id = person.PersonId })</li>
		}
	</ul>
}



