@model ImdbWeb.Models.AccountModels.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	@Html.LabelFor(m => m.Username)
	@Html.EditorFor(m => m.Username)
	@Html.ValidationMessageFor(m => m.Username)
	<br />
	@Html.LabelFor(m => m.Password)
	@Html.EditorFor(m => m.Password)
	@Html.ValidationMessageFor(m => m.Password)
	<br />
	@Html.LabelFor(m => m.RememberMe)
	@Html.EditorFor(m => m.RememberMe)
	@Html.ValidationMessageFor(m => m.RememberMe)
	<br />
	<button>Logg på!</button>
}
