@using ImdbWeb.Helpers

@model MovieDAL.Movie

<h2>@Model.Title (@Model.ProductionYear)</h2>
<p>Originaltittel: @Model.OriginalTitle</p>
<p>Filmens varighet: @Model.RunningLength</p>
<p>@Model.Description</p>

<p>Regisører: @Html.PrettyJoin(Model.Directors)</p>
<p>Produsenter: @Html.PrettyJoin(Model.Producers)</p>

@*<h3>Regisører</h3>
@Html.Partial("_PersonList", Model.Directors)

<h3>Produsenter</h3>
@Html.Partial("_PersonList", Model.Producers)*@

<h3>Skuespillere</h3>
@Html.Partial("_PersonList", Model.Actors)
